/*
 Copyright 2011 The Go Authors.  All rights reserved.
 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file.
*/

body {
    -webkit-font-smoothing: antialiased;
    width: 80%;
    margin: 0 auto;
    background: #f8f8f8;
}
body, input {
    font-family: sans-serif;
    font-size: 16px;
    color: #444;
}
input:focus {
    outline: none;
}
h1 {
    font-weight: 200;
    text-align: center;
    font-size: 3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}
.row {
    overflow: auto;
    padding: 5px;
}
.row:first-child {
    background: #eee;
    font-weight: bolder;
}
.row > * {
    display: inline-block;
    float: left;
    width: 20%;
    text-align: center;
    border: 0;
    padding: 0;
    margin: 0;
}
input {
    text-align: center;
    border: none;
    background: #fff;
    width: 100%;
    color: #aaa;
}
a {
    text-decoration: none;
    color: #335;
}
.rounded-box, .errors p {
    padding: 10px;
    border-radius: 4px;
    border: 1px #ddd solid;
}
.errors p {
    background: #faa;
    cursor: pointer;
}
footer, footer a {
    text-align: center;
    font-style: italic;
    color: #666;
}