<!--
 Copyright 2011 The Go Authors.  All rights reserved.
 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file.
-->

<!doctype html>
<html ng-app>

<head>
    <title>Go Meetups</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script>function paintMap() {}</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgQD9-oZlWaZ4imw9q9_Qd_Kx0PRP1rnM&callback=paintMap"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src='/home.js'></script>
    <link rel='stylesheet' href='/home.css'>
</head>

<body ng-controller='GroupsCtrl'>
    <div class='container'>
        <h1>Go Meetups</h1>

        <p>This is a list of all the groups in <a href="http://www.meetup.com">meetup.com</a> that
        mention <a href="http://golang.org">#golang</a> as one of its topics.
        The list is ordered by number of members and you can apply filters to any column.
        </p>

        <div id="map"></div>

        <div>
            <div class='row'>
                <span ng-repeat='f in filteredFields'>{{f}}</span>
                <span>Members</span>
            </div>
            <div class='row'>
                <span ng-repeat='f in filteredFields'>
                    <input placeholder='filter' ng-model='search[f]' ng-change='refilter()'>
                </span>
                <span>{{totalSum()}}</span>
            </div>
            <div class='row' ng-repeat='g in groups | filter:search | orderBy:"Members":true'>
                <a href="{{g.Link}}">{{g.Name}}</a>
                <span>{{g.City}}</span>
                <span>{{g.Country}}</span>
                <span>{{g.Members}}</span>
            </div>
        </div>
    </div>

    </div>

    <div class='errors'>
        <p ng-repeat='e in errors' ng-click='errors.splice($index, 1)'>{{e}}</p>
    </div>

    <footer>
        by <a href="http://twitter.com/francesc">@francesc</a>, source code on <a href="http://github.com/campoy/golang-groups">GitHub</a>
    </footer>
</body>

</html>
